.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
}

.header-left {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.header-left > img {
  object-fit: contain;
  height: 120px;
  margin: 5px;
}

.header-middle {
  display: flex;
  flex: 0.7;
  text-align: center;
  background-color: whitesmoke;
  padding: 18px;
  border-radius: 5px;
}

.header-middle > .MuiSvgIcon-root {
  color: grey;
}

.header-middle > input {
  border: none;
  width: 100%;
  padding-left: 10px;
  font-size: medium;
  background-color: transparent;
}

.header-right {
  display: flex;
  padding-right: 20px;
}
