.sidebar-option {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 40px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  color: #818181;
}

.sidebar-option > h3 {
  flex: 1;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
}

.sidebar-option > p {
  display: none;
  font-weight: 300;
}

.sidebar-option > .MuiSvgIcon-root {
  padding: 5px;
}

.sidebar-option:hover > p {
  display: inline;
}

.sidebar-option:hover,
.sidebar-option:hover > p,
.sidebar-option:hover > h3,
.sidebar-active {
  background-color: #fcecec;
  color: #c04b37;
  font-weight: 800 !important;
}

.sidebar-active > p {
  display: inline !important;
}
